.sidebarToggle{
    z-index: 3;
    position: absolute;
    top: 16px;
    left: 16px;
    transition: left 200ms ease-in-out;

    &Button{
        border-radius: 50%;
        border: none !important;
        background-color: transparent;
    
        &:active{
            background-color: #979797 !important;
        }

        @media screen and (min-width: 820px) {
            &:hover{
                background-color: #979797 !important;
            }
        }
    }
}