.select{
    display: flex;
    position: relative;

    &Control{
        flex-grow: 1;
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;
    }

    &Button{
        flex-grow: 1;
    }

    &List{
        position: absolute;
        top: 30px;

        &Wrapper{
            display: none;
        }
    }
}

.chevron{
    right: 4px;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg{
        transform: rotate(180deg);
        color: black;
    }

    &[data-open = true]{
        svg{
            transform: rotate(0);
        }
    }
}