$containerWidth: 1140px;
$backgroundColor: #f3f3f3;
$borderColor: #a0a0a0;

$buttonPrimaryColor: #374FC7;
$buttonPrimaryColorHover: #283ea9;
$buttonSecondaryColor: #3bc03b;
$buttonSecondaryColorHover: #309c30;
$buttonDeleteColor: #af0000;
$buttonDeleteColorHover: #ce0000;