@import '../../../styles/variables.scss';

.cardsTableItem{
    width: 100%;
    border-bottom: 1px solid $borderColor;
    cursor: pointer;

    *{
        font-size: 24px;

        @media screen and (min-width: 620px) {
            font-size: 20px;
        }
    }

    &:last-child{
        border: none;
        border-bottom-left-radius: 3.25px;
        border-bottom-right-radius: 3.25px;
    }

    &:nth-child(2n-1){
        background-color: #f8f6ff;
    }

    &Header{
        display: grid;
        grid-template-columns: 1fr 1fr 60px;
        font-size: 20px;
        height: 30px;
        padding-inline: 24px;

        div:nth-child(3), div:nth-child(4){
            display: none;
        }

        @media screen and (min-width: 420px) {
            grid-template-columns: 1fr 1fr 1fr 60px;
            div:nth-child(3){
                display: none;
            }
            div:nth-child(4){
                display: block;
            }
        }

        @media screen and (min-width: 620px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 48px;
            div:nth-child(3), div:nth-child(4){
                display: block;
            }
        }
    
        div{
            margin: auto 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
    
            &:last-child{
                margin: 0;
                display: flex;
                align-items: center;
            }
        }
    
        &Control{
            justify-content: center;

            svg{
                width: 30px;
                height: 30px;

                @media screen and (min-width: 620px) {
                    width: initial;
                    height: initial;
                }
            }
        }
    }

    &Body{
        display: block;
        font-size: 20px;
        height: 30px;
        padding-inline: 24px;
        max-height: 0;
        height: auto;
        overflow: hidden;
        transition: max-height 0.25s ease-in-out;

        div{
            height: 28px;

            span:first-child{
                font-weight: 600;
            }
            span:last-child{
                word-break: normal;
            }
            &:nth-last-child(3){
                margin-top: 8px;
            }
        }
    }

    &[data-open = true]{
        .cardsTableItemBody{
            max-height: 100vh;
            transition: max-height 0.25s ease-in-out;
        }
    }
}