@import '../../../styles/variables.scss';

.navItem{
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 8px; 
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    transition: background-color linear 0.2s;
    background-color: $backgroundColor;

    &:active{
        background-color: rgba(#959595, 0.5);
    }

    @media screen and (min-width: 650px) {
        &:hover{
            background-color: rgba(#959595, 0.5);
        }
    }
}