@import '../../../styles/variables.scss';

.sidebar{
    border-right: 1px solid $borderColor;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 200px;
    padding: 4px;
    transition: transform 200ms ease-in-out;
    position: absolute;
    height: 100%;
    
    &Title{
        font-size: 20px;
    }
}