@import '../../../styles/variables.scss';

.wrapper{
    display: flex;
}

.textarea{
    flex-grow: 1;
    resize: none;
    border: 1px solid $borderColor;
    border-radius: 8px;
    padding: 4px;
    font-size: 16px;

    &:read-only{
        pointer-events: none;
    }

    &[data-correct = true]{
        border-color: green;
    }

    &[data-correct = false]{
        border-color: red;
    }
}