@import '../../../styles/variables.scss';

.header{
    max-width: $containerWidth;
    display: flex;
    align-items: center;

    &Inner{
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}