@import '../../../styles/variables.scss';

.edit{
    padding: 0 !important;
    border: none !important;
    border-radius: 4px;
    background-color: transparent;

    @media screen and (min-width: 766px) {
        &:hover{
            background-color: rgba($borderColor, 0.5);
        }
    }

    &:active{
        background-color: rgba($borderColor, 0.5);
    }
}